@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato%3A100%2C300%2C400%2C500%2C600%2C700%2C800%2C900%7CMontserrat%3A100%2C300%2C400%2C500%2C600%2C700%2C800%2C900&amp;subset=latin%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Cvietnamese");
* {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
}

.input-field {
  width: 60%;
  margin-bottom: 15px;
  outline: none;
  padding: 1em 1.8em;
  border: 1px rgba(255, 255, 255, 0.342) solid;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.151);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.input-field:nth-child(1) {
  margin-top: 50px;
}

.input-field:nth-child(2) {
  margin-bottom: 40px;
}

.input-field::-webkit-input-placeholder {
  color: #9798b1;
}

.input-field:-ms-input-placeholder {
  color: #9798b1;
}

.input-field::-ms-input-placeholder {
  color: #9798b1;
}

.input-field::placeholder {
  color: #9798b1;
}

.input-field:focus {
  background: rgba(20, 5, 61, 0.301);
  border-color: #ff008c;
  -webkit-box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
          box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
}

.form-bg-blur-animation {
  -webkit-animation: 0.8s ease 0s 1 normal forwards running blurFormBackground;
          animation: 0.8s ease 0s 1 normal forwards running blurFormBackground;
}

.form-enter-animation {
  -webkit-animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 normal forwards running loginFormEnter;
          animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 normal forwards running loginFormEnter;
}

body {
  overflow-x: hidden;
  zoom: 80%;
}

body .navbar {
  top: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  color: white;
  font-size: .9rem;
  font-weight: bolder;
  z-index: 100000000;
}

body .navbar .nav-left {
  width: 50%;
}

body .navbar .nav-left ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

body .navbar .nav-left ul li, body .navbar .nav-left ul a {
  text-decoration: none;
  color: white;
}

body .navbar .nav-left ul li:visited, body .navbar .nav-left ul a:visited {
  color: white;
}

body .navbar .nav-left ul li:default, body .navbar .nav-left ul a:default {
  color: white;
}

body .navbar .nav-right {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .nav-right button {
  position: absolute;
  right: 5%;
  padding: 7px 30px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

body .form-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

body .form-container .form-box {
  top: 40%;
  left: 40%;
  position: fixed;
  width: 400px;
  height: 300px;
  background: rgba(255, 255, 255, 0.164);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 1px white solid;
  z-index: 100;
  opacity: 0;
}

body .form-container .form-box h1 {
  color: white;
  font-family: 'Poppins';
  margin-left: 160px;
}

body .form-container .form-box .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .form-container .form-box .login-form .login-submit {
  padding: 1em 8em;
  background: -webkit-gradient(linear, right top, left top, from(#28e8ae), to(#28b6e8));
  background: linear-gradient(to left, #28e8ae, #28b6e8);
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  -webkit-box-shadow: rgba(1, 12, 112, 0.349) 0px 0px 15px 0.5px;
          box-shadow: rgba(1, 12, 112, 0.349) 0px 0px 15px 0.5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

body .form-container .form-box .login-form .login-submit:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.site-container .background-gradient {
  background-image: url("../../images/mainPageBg.png");
}

.site-container #home .content-container {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 100%;
}

.site-container #home .content-container .content {
  position: absolute;
  top: 20%;
  left: 15%;
  text-align: left;
  color: white;
}

.site-container #home .content-container .content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.site-container #home .content-container .content h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #f3f3f3;
  margin-bottom: 30px;
}

.site-container #home .content-container .content p {
  width: 45%;
  margin-bottom: 50px;
  font-family: 'Lato';
  font-size: 1.2rem;
  font-weight: 400;
  color: #caf0ff;
}

.site-container #home .content-container .content .try-app-button {
  padding: 20px 50px;
  background-image: linear-gradient(348deg, #220f5f, #29bded);
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.295), 0 1px 3px rgba(0, 0, 0, 0.205);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.295), 0 1px 3px rgba(0, 0, 0, 0.205);
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.site-container #home .content-container .content .learn-more-button {
  padding: 20px 50px;
  background: none;
  border: rgba(255, 255, 255, 0.692) 2px solid;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.site-container #home .home-img-container {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.site-container #home .home-img-container .harbour {
  position: absolute;
  left: 35%;
  top: 25%;
}

.site-container #home .home-img-container .harbour img {
  height: 500px;
}

.site-container #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.site-container #about .about-heading {
  font-family: 'Poppins';
  font-size: 2.5rem;
  color: #14447a;
}

.site-container #about .cards-container {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1001;
}

.site-container #about .cards-container .card {
  height: 280px;
  width: 300px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 16px -1px #78e6e2;
  box-shadow: 0px 3px 16px -1px #78e6e2;
  z-index: 1001;
}

.site-container #about .cards-container .card h1 {
  margin-top: 15px;
  color: #eb5f46;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2rem;
}

.site-container #about .cards-container .card p {
  font-family: 'Lato';
  font-size: 2rem;
  font-weight: 700;
  margin-top: 70px;
}

.site-container .medal img {
  margin-top: 50px;
  height: 150px;
  z-index: -10;
}

.site-container #why-choose-us {
  background: linear-gradient(200deg, #172079 2%, #38afe1 100%);
}

.site-container #why-choose-us .heading {
  height: 10%;
  color: white;
  font-family: 'Lato';
  font-size: 2rem;
}

.site-container #why-choose-us .sections {
  width: inherit;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: bottom;
      align-self: bottom;
}

.site-container #why-choose-us .sections .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-container #why-choose-us .sections .left .heading {
  position: absolute;
  left: 70%;
  color: white;
}

.site-container #why-choose-us .sections .left .description-cards-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: right;
      align-self: right;
}

.site-container #why-choose-us .sections .left .description-cards-container .description-card {
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 80%;
  height: 170px;
  margin-left: 5vw;
}

.site-container #why-choose-us .sections .left .description-cards-container .description-card h1 {
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.site-container #why-choose-us .sections .left .description-cards-container .description-card p {
  font-family: 'Lato';
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 30px;
}

.site-container #why-choose-us .sections .right {
  width: 50%;
}

.site-container #why-choose-us .sections .right .app {
  position: absolute;
  right: -20%;
  -webkit-transition: .3s;
  transition: .3s;
}

.site-container #why-choose-us .sections .right .app:hover {
  cursor: pointer;
  right: -19%;
}

@-webkit-keyframes blurFormBackground {
  0% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

@keyframes blurFormBackground {
  0% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

@-webkit-keyframes loginFormEnter {
  0% {
    -webkit-transform: rotateX(-18deg);
            transform: rotateX(-18deg);
    opacity: 0;
    margin-bottom: 60px;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    -webkit-box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
            box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
    margin-bottom: 0;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
}

@keyframes loginFormEnter {
  0% {
    -webkit-transform: rotateX(-18deg);
            transform: rotateX(-18deg);
    opacity: 0;
    margin-bottom: 60px;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    -webkit-box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
            box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
    margin-bottom: 0;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
}
/*# sourceMappingURL=style.css.map */