@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    text-align: center;
    color: black;
}

body{
    overflow-x: hidden;

    .navbar{
        top: 0;
        position: absolute;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: space-between;
        color: white;
        font-size: .9rem;
        font-weight: bolder;

        .nav-left{
            width: 50%;

            ul{
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                list-style: none;
                font-family: 'Open Sans', sans-serif;
            }
        }

        .nav-right{
            position: relative;
            width: 50%;
            display: flex;
            align-items: center;

            button{
                position: absolute;
                right: 5%;
                padding: 7px 30px;
                border: none;
                border-radius: 2px;
            }
        }
    }
}

.site-container{

    .background-gradient{
        background-image: url('../../images/mainPageBg.png');
    }

    #home{

        .content-container{
            position: absolute;
            width:60%;
            height: 100%;

            .content{
                position: absolute; 
                top: 20%;
                left: 15%;
                text-align: left;
                color: white;

                h1{
                    font-family: 'Poppins', sans-serif;
                    font-size: 4.5rem;
                    margin-bottom: 10px;
                }

                h3{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.2rem;
                    color: rgb(243, 243, 243);
                    margin-bottom: 30px;
                }

                p{
                    font-family: 'Montserrat';
                    width: 45%;
                    margin-bottom: 50px;
                }

                .try-app-button{
                    padding: 20px 50px;
                }
            }
        }

        .home-img-container{
            position: relative;
            width:100%;
            height:100%;

            .harbour{
                position: absolute;
                left: 35%;
                top:25%;

                img{
                    height: 500px;
                }
            }

            .ship{
                position: absolute;
                left:52%;
                top:42%;

                img{
                    height: 250px;
                }
            }
        }
    }

    #about{

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 75vh;

        .cards-container{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .card{
                height: 280px;
                width: 300px;
                background: red;
                border-radius: 15px;
            }
        }
    }

    #why-chose-us{

        .heading{
            height: 10%;
        }
        .sections{
            width: inherit;
            height: 90%;
            display: flex;
            flex-direction: row;
            align-self: bottom;

            .left{
                width: 50%;
                background: blue;
            }

            .right{
                width: 50%;
                display: flex;                
                background: red;
                
                .heading{
                    position: absolute;
                    left: 70%;
                }

                .description-cards-container{
                    width:100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-self: right;


                    .description-card{
                        background: green;
                        width: 100%;
                        height: 150px;
                        margin-left: 5vw;
                    }

                }
            }
        }
    }
}


