<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a port</title>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="stylesheets/createPort/create-port.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <button class="return-button">Return</button>
        </div>

        <div class="nav-right">
            <button class="add-worker-button">Add worker</button>
            <p>Admin</p>
        </div>
    </nav>

    <div class="form-container">
        <div class="form-box">

            <h1>Register a port</h1>
            
            <form method="post" action="/api/register-port" class="port-form">
                <input type="text" name="portName" id="portName-field" class="input-field" placeholder="Port Name" autocomplete="off" required >
                <input type="text" name="firstName" id="first-name-field" class="input-field" autocomplete="off" placeholder="First Name" required>
                <input type="text" name="middleName" id="middle-name-field" class="input-field" autocomplete="off" placeholder="Middle Name" required>
                <input type="text" name="lastName" id="last-name-field" class="input-field" autocomplete="off" placeholder="Last Name" required>
                <input type="email" name="email" id="email-field" class="input-field" autocomplete="off" placeholder="Email" required>
                <input type="password" id="pass" name="password" id="password-field" class="input-field" autocomplete="off" placeholder="Password" required>
                <input type="submit" class="port-submit">
            </form>
        </div>
    </div>
    
     <button class="create-port-button">Create a port</button>
     <button class="finish-selection-button">Finish Selection</button>

    <div id="map"></div>

    <div class="instructions">
        <h1>Outline your port</h1>
    </div>
    
    <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>

    <script type="text/javascript" src="javascripts/hashes.js"></script>

    <script type="text/javascript" src="javascripts/leafletAdmin.js"></script>
    <script type="text/javascript" src="javascripts/createPort.js"></script>
</body>
</html>