<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmos</title>

    <link rel="shortcut icon" href="images/atmosLogo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/index/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <ul>
                <li><a href="#about">Why ATMOS</a></li>
                <li><a href="#why-choose-us">Our Services</a></li>
                <li>Contact Us</li>
            </ul>
        </div>

        <div class="nav-right">
            <button class="login-button">Log in</button>
        </div>
    </nav>

    <div class="form-container">
        <div class="form-box">

            <h1>Login</h1>
            
            <form method="post" action="/api/login" class="login-form">
                <input type="email" name="email" id="login-email" class="input-field" placeholder="Email" autocomplete="off" required >
                <input type="password" name="password" id="login-password" class="input-field" autocomplete="off" placeholder="Password" required>
                <input type="submit" class="login-submit">
            </form>
        </div>
    </div>

    <div class="site-container">

    <div class="background-gradient">
        <section id="home">

            <div class="content-container">

                <div class="content">
                    <h1>Platform for <br>port customs</h1>
                    <h3>"Contain, deliver, manage."</h3>
    
                    <p>We monitor crates and the content that corporations and our users send alongside with them to ports, marked on our world map. We take full responsibility for the packages and their condition, during their stay with us.</p>

                    <a href=""><button class="try-app-button button-heading">Try It Out!</button></a>
                    <a href="#why-choose-us"><button class="learn-more-button button-heading">Learn More</button></a>
                </div>
            </div>

            <div class="home-img-container">
                <div class="harbour">
                    <img src="/images/harbour/wholeHarbour.png">
                </div>
            </div>
        

        </section>

        <section id="about">
            <h1 class="about-heading">Why Atmos?</h1>

            <div class="cards-container">
                <div class="card">
                    <h1>Feedback</h1>
                    <p>97% positive</p> 
                </div>

                <div class="card">
                    <h1>Clients</h1>
                    <p>1672 ports around the world</p>
                </div>
                
                <div class="card">
                    <h1>Service</h1>
                    <p>Award winning service</p>
                    <div class="medal">
                        <img src="/images/medal.png" class="medal">
                    </div>
                </div>
            </div>
        </section>
    </div>

        <section id="why-choose-us">
            <div class="heading">
                <h1>Why choose us?</h1>
            </div>
            

            <div class="sections">

                <div class="left">
                    
                    <div class="description-cards-container">
    
                        <div class="description-card">
                            <h1>Agents</h1>
    
                            <p>We provide an agent for our customers</p>
                        </div>
    
                        <div class="description-card">
                            <h1>Feedback</h1>

                            <p>We'll give you as quick of a feedback as possible if something happens</p>
                        </div>
    
                        <div class="description-card">
                            <h1>Port managing</h1>
                            <p>Our app makes managing your port containers easier</p>
                        </div>
                    </div>
                </div>


                
                <div class="right">
                    
                    <div class="left">
                        <img src="/images/app.png" class="app">
                    </div>
                    
                </div>
            </div>
        </section>
    </div>

    <script src="/javascripts/hashes.js"></script>
    <script src="/javascripts/loginManager.js"></script>
    <script src="/javascripts/tryOutRedirect.js"></script>
    
</body>
</html>
